.country-location-block{
    color: #fff!important;
    padding:10px 40px!important;
    background-color: #666!important;
    display:none;
}

.country-location-block-wrapper{
	background-color: #666!important;
}
.country-location-block img{ /* country flag */

}
.country-location-block a,
.country-location-block a:visited,
.country-location-block a:focus,
.country-location-block a:active{ /* open modal link */
    color:#d1ac57!important;
}

#close-country-location-block-bar a{
    color:#fff!important;
	font-size: 18px;
}

/* popup styles */

.popup-select-country.modal-popup{

}
.checkout-index-index .popup-select-country.modal-popup .modal-inner-wrap,
.popup-select-country.modal-popup .modal-inner-wrap{
    max-width: 350px!important;
    left: 50%!important;
    margin-left: -175px!important;
}
.popup-select-country.modal-popup .modal-header{
    padding: 0px!important;
}
.popup-select-country.modal-popup .modal-title{
    visibility: hidden!important;
    border-bottom: 0px!important;
}
.popup-select-country.modal-popup .modal-content{
    border:0px!important;
    padding-left:1rem!important;
    padding-right:1rem!important;
}
.popup-select-country.modal-popup #popup-select-country-inner{

}

.popup-select-country.modal-popup #popup-select-country-inner .world-map{
    display:block!important;
    margin:0 auto!important;
    max-width:100%!important;
}
.popup-select-country.modal-popup #popup-select-country-inner .popup-select-country-title{
    font-weight: bold!important;
    text-align: center!important;
    padding: 0 0 17px 0!important;
}
.popup-select-country.modal-popup.modal-slide .modal-footer{
    border-top:0px!important;
    padding:1rem!important;
    text-align:center!important;
}
.popup-select-country.modal-popup .modal-footer button{
    color: #fff!important;
    padding: 0 13px!important;
    background-color: #101138!important;
	text-transform: uppercase!important;
}

.select-country-loading{
    text-align: center!important;
    display: none!important;
}

@media(min-width:1300px){
.country-location-block{
    color: #fff!important;
    background-color: #666!important;
    display:none;
	margin: 0 auto!important;
	width: 100%!important;
	max-width: 1280px!important;
}
}
@media(max-width:768px){
.checkout-index-index .popup-select-country.modal-popup .modal-inner-wrap,
.popup-select-country.modal-popup .modal-inner-wrap{
    max-width: 320px!important;
    left: 0!important;
    margin: 0 auto!important;
}

	
	.popup-select-country.modal-popup.modal-slide{
		left: 0!important;
	}
}