<?php
$locationCountry = "";//$block->getLocationCountryName();
$locationCountryCode = "";//$block->getLocationCountryCode();
$locationCountryFlag = "";//$block->getCountryFlag();

$countries = $block->getCountries();

//var_dump( $countries );
?>
<div class="country-location-block-wrapper">
    <div class="country-location-block" id="country-location-block-bar">
        <?php if (!$locationCountry): //unknown location  ?>

        <?php
        //echo __("It looks like you're browsing from <img src='%2' /> <strong>%1</strong>, if that's not right <a href='javascript:void(0)' id='country-selector-popup'>click here</a>", $locationCountry, $locationCountryFlag);
        echo __("We are looking for your browsing location, if you want to select manually, please <a href='javascript:void(0)' id='country-selector-popup'>click here</a>");
        ?>

        <?php else: ?>

        <?php
        echo __("It looks like you're browsing from <img src='%2' /> <strong>%1</strong>, if that's not right <a href='javascript:void(0)' id='country-selector-popup'>click here</a>", $locationCountry, $locationCountryFlag);
        ?>

        <?php endif; ?>
        <span id="close-country-location-block-bar" class="pull-right"><a href="#">X</a></span>
    </div>
</div>

<div id="popup-select-country-inner" style="display:none;">

    <div class="popup-select-country-top">
        <img class="world-map" src="<?php echo $block->getViewFileUrl('MagestyApps_GeoipSwitcher::images/map.png'); ?>" />
        <div class="popup-select-country-title">
            <?php echo __('Choose Your Country or Region') ?>
        </div>
    </div>
    <div class="select-country-loading">
        <img src="<?php echo $block->getViewFileUrl('MagestyApps_GeoipSwitcher::images/ajax-loader.gif'); ?>" />
    </div>
    <div class="select-country-location">
        <form id="select-country-location-form" method='POST' action="<?php //echo $block->getUrl('geoip/index/index') ?>">
            <select name="country-code" class="custom-combobox">

                <?php foreach ($countries as $country): ?>
                    <?php
                    if (!$block->isFlagExists($country['value'])):
                        continue;
                    endif;
                    ?>
                <option value="<?php echo $country['value'] ?>" data-image="<?php echo $block->getCountryFlag($country['value'])?>"
                            <?php if ($country['value'] == $locationCountryCode): ?><?php endif; ?>>
                                <?php
                                echo htmlspecialchars($country['label']);
                                ?>
                    </option>


                <?php endforeach; ?>
            </select>
        </form>
    </div>
</div>
<script>
    require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal',
                'MagestyApps_GeoipSwitcher/js/plugins/custombox/script',
                'mage/cookies'
            ],
            function (
                    $j,
                    modal
                    ) {
                var options = {
                    modalClass: 'popup-select-country',
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    title: ' ',
                    buttons: [{
                            text: $j.mage.__('Save & Continue'),
                            class: '',
                            click: function () {
                                submitForm(this);
                                //this.closeModal();
                            }
                        }]
                };

                var popup = modal(options, $j('#popup-select-country-inner'));

                if (!$j.mage.cookies.get('country-hidden-block')) {
                    getCountry();
                    $j.mage.cookies.set('country-hidden-block', true);
                }

                $j(document).ready(function() {
                    $j(document).on('click','#country-selector-popup', function () {
                        $j('#popup-select-country-inner').modal('openModal');
                        populateFlags();

                    });
					
					$j(document).on('click','#close-country-location-block-bar', function () {
                        $j('#country-location-block-bar').hide();
                    });
					
                    $j('#country-selector-popup-footer').on('click', function (e) {
                        e.preventDefault();
                        $j('#popup-select-country-inner').modal('openModal');
                        populateFlags();
                    });
                });



                /*if(!$j.mage.cookies.get('country-popup-shown')){
                    $j('#popup-select-country-inner').modal('openModal');
                    $j.mage.cookies.set('country-popup-shown', true);
                }*/



                $j('.custom-combobox').customDropdown();

                function populateFlags(){
                    opts = $j('select[name="country-code"] option');

                    for(i=0;i<opts.length;i++){
                        data = $j(opts[i]).data();
                        row = data.select.replace('data-','');
                        elem = $j(".custom-combobox-option[data-index='"+row+"']");

                        src = data.image;
                        injImg = '<img src="'+src+'" />';
                        if($j(elem).find('img').length==0){
                            $j(elem).remove('img').prepend(injImg);
                        }
						value = $j(opts[i]).val();
						if(value == $j.mage.cookies.get('shipping-filter')){
							$j(opts[i]).prop('selected', true);
							$j('.custom-combobox-container-selected').html(elem.html());
						}
                    }
                }

                function showLoading() {
                    $j('.select-country-loading').show();
                }

                function hideLoading() {
                    $j('.select-country-loading').hide();
                }

                function submitForm(obj) {
                    showLoading();
                    //$j('#select-country-location-form').submit();
					//console.log($j('select.custom-combobox').val());
					var redirect_url = magestyChangeCountry($j('select.custom-combobox').val());
					if(redirect_url != ''){
						window.location.href=redirect_url;
					}
					$j(".action-close").trigger( "click" );
					
                    /*
                    var form = $j('#select-country-location-form');
                    var url = form.attr('action');
                    $j.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(),
                        success: function (data)
                        {
                            hideLoading();
                            if(data && data.error){
                                obj.closeModal();
                                return;
                            }

                            location.reload();
                        }
                    });
                    */
                }

                function getCountry() {
                    //showLoading();
                    $j.get(
                        "<?php echo $block->getUrl('geoip/index/index') ?>",
                        {
                            targetLocation: 'session', //'ip' OR 'session',
                            isAjax: true,
                            form_key: $j.mage.cookies.get('form_key')
                        },
                        function(data) {
                            console.log('success, data get:', data);
                            if (data.success) {
                                console.log(data.country_info);
                                $j.mage.cookies.set('shipping-filter', data.country_info.country, {domain:window.location.hostname});
                                // comment this if you do not want to overwrite the content of the top bar
                                $j("#country-location-block-bar").html(
                                    "You are browsing from <img src='"+data.country_info.country_flag+"' />  <strong>"+data.country_info.country_name+"</strong>, if that's not right <a href='javascript:void(0)' id='country-selector-popup'>click here</a><span id='close-country-location-block-bar' class='pull-right'><a href='#'>X</a></span>"
                                );
                                $j('#country-location-block-bar').show();
                            } else {
                                console.log(data.error);
                                //var eraseDate = new Date();
                                //eraseDate.setTime(eraseDate.getTime()+(-1*24*60*60*1000));
                                //$j.mage.cookies.set('shipping-country', 'erased', eraseDate);
                                //$j.mage.cookies.set('country-hidden-block', 'erased', eraseDate);
                                $j("#country-location-block-bar").html(
                                    "We are unable to find your browsing location, <a href='javascript:void(0)' id='country-selector-popup'>click here</a> to tell it for us<span id='close-country-location-block-bar' class='pull-right'><a href='#'>X</a></span>"
                                );
                            }
                        }
                    );//.done(
                        //hideLoading();
                    //);
                }
						
						
				function magestyChangeCountry(values) {
					var newUrl = "";
					//console.log();
					$j.mage.cookies.set('shipping-filter', values, {domain:window.location.hostname});
					//$j.mage.cookies.set('shipping-country', values);
					var href_shipping_location = document.location.href.indexOf('shipping=');
					//console.log(href_shipping_location);
					if (href_shipping_location == -1 || document.location.href.substring(href_shipping_location+9,href_shipping_location+11) == values) {
					} else {
						//console.log('key exists', values);
						//var pattern = new RegExp("[?&]shipping(=([^&#]*)|&|#|$)");
						//var shipping_value = pattern.exec(document.location.href);
						//shipping_value = shipping_value[];
						//console.log();
						//if (values) {
							var pattern = new RegExp('\\b(shipping=).*?(&|$)');
							var newUrl = document.location.href.replace(pattern, '$1' + values + '$2');
						//}
					}
					//var absPattern = new RegExp('\\b('+self.options.urlkey+'=).*?(&|$)');
					//newUrl = newUrl.replace(absPattern, '');
					return newUrl;
				}						
						
            }
    );
</script>
