<?php
/**
 * @var \Fooman\PdfPickingList\Block\PdfCore\PickingList $block
 */
?>
<?php
//$itemsStyling = $block->getDefaultItemStyling();
/*public function getDefaultItemStyling()
    {
        return [
            'header' => [
                'default' => 'border-bottom:1px solid black;',
                'first'   => 'border-bottom:1px solid black;',
                'last'    => 'border-bottom:1px solid black;'
            ],
            'row'    => [
                'default' => 'border-bottom:0px none transparent;',
                'last'    => 'border-bottom:0px solid black;',
                'first'   => 'border-bottom:0px none transparent;'
            ],
            'table'  => ['default' => 'padding: 2px 0px;']
        ];
    }
/**/
$ordersStyling = $block->getDefaultItemStyling();
//\Zend_Debug::dump($ordersStyling);die;
$ordersStyling = [
    'header' => [
        'default' => 'border-top:2px solid black;',
        'first'   => 'border-top:0px solid transparent;',
        'last'    => 'border-top:2px solid black;'
    ],
    'row'    => [
        'default' => 'border-bottom:0px none transparent; font-size: 16pt; font-weight: bold; padding-top: 30px',
        'last'    => 'border-bottom:0px solid black;',
        'first'   => 'border-bottom:0px none transparent; font-size: 16pt; font-weight: bold;'
    ],
    'table'  => ['default' => 'padding: 2px 0px;']
];
//\Zend_Debug::dump($ordersStyling);die;
/*
$itemsStyling = [
    'header' => [
        'default' => 'border-bottom:1px solid black;',
        'first'   => 'border-bottom:1px solid black;',
        'last'    => 'border-bottom:1px solid black;'
    ],
    'row'    => [
        'default' => 'border-bottom:0px none transparent; text-align: left;',
        'last'    => 'border-bottom:0px solid black;',
        'first'   => 'border-bottom:0px none transparent;'
    ],
    'table'  => ['default' => 'padding: 2px 0px;']
];
*/



?>
<?php $logoBlockHtml = $block->getLogoBlock() ?>

<?php /* ?>
<?php

$moduleReader =  Magento\Framework\App\ObjectManager::getInstance()
    ->get('\Magento\Framework\Module\Dir\Reader');
?>
<table width="100%">
<?php foreach ($block->getOrderCollection() as $order) {
    //$bgcolor = '#FFFFFF';

?>
    <tr>
        <td width="13%"><b><?php echo $order->getIncrementId(); ?></b></td>
        <td width="80%"><?php echo $order->getShippingDescription(); ?></td>
        <td width="7%">
            <img src="<?php echo $moduleReader->getModuleDir(\Magento\Framework\Module\Dir::MODULE_VIEW_DIR, 'Fooman_PdfCore'); ?>/images/tickbox-image.png" />
        </td>
    </tr>
    <tr>

        <td colspan="3">

                <?php
    // get items of current order
    $collection = Magento\Framework\App\ObjectManager::getInstance()
        ->get('\Magento\Sales\Model\ResourceModel\Order\CollectionFactory')
            ->create();
    $collection->addFieldToFilter('entity_id', $order->getEntityId());
    $pickingList = Magento\Framework\App\ObjectManager::getInstance()
        ->get('\Fooman\PdfPickingList\Block\PdfCore\OrderItemListFactory')
            ->create(
                ['data' => ['order_collection' => $collection]]
            );
    //modifying default styling
    switch ($order->getShippingDescription()) {
        case 'USA Standard Delivery (5-10 Working Days)':
            //green
            $bgcolor = '#a9d08e';
            $evencolor = '#84bb5d';
            break;
        case 'UK Next Day Delivery (Orders Placed Before 1pm)':
            //tan
            $bgcolor = '#ffcc99';
            $evencolor = '#ffa64d';
            break;
        case 'Germany Standard Delivery (5-10 Working Days)':
            //yellow
            $bgcolor = '#ffff99';
            $evencolor = '#ffff4d';
            break;
        case 'Electronic Gift Voucher':
            //blue
            $bgcolor = '#3366ff';
            $evencolor = '#0040ff';
            break;
        case 'Czech Republic Standard Delivery (5-10 Working Days)':
        case 'Europe Standard Delivery (5-10 Working Days)':
            //lavender
            $bgcolor = '#cc99ff';
            $evencolor = '#9933ff';
            break;
        default:
            //white
            $bgcolor = '#ffffff';
            $evencolor = '#f0f0f0';
            break;
    }
    $itemsStyling ['table']['default'] = 'padding: 2px 0px; background-color: '.$bgcolor;

    // consider to move to the top after `$itemsStyling = $block->getDefaultItemStyling();`
    $itemsStyling ['row'] = [
        'default' => 'border:0px none transparent; text-align: left;',
        'last'    => 'border:0px none transparent; text-align: left;',
        'first'   => 'border:0px none transparent; text-align: left;',
        'even'    => $evencolor,
    ];
    $itemsStyling ['header'] = [
        'default' => 'border-bottom:1px solid black; text-align: left;',
        'first'   => 'border-bottom:1px solid black; text-align: left;',
        'last'    => 'border-bottom:1px solid black; text-align: left;'
    ];

    echo $pickingList->getItemsBlock($itemsStyling);

                ?>

        </td>
    </tr>


    <tr>
        <td colspan="3">
            <h3>same again forced</h3>
            <table width="100%" bgcolor="<?php echo $bgcolor; ?>" cellspacing="0" cellpadding="0" style='font-size: 12pt;'>
    <?php foreach ($order->getAllVisibleItems() as $item) {?>
                <tr>
                    <td width="20%"><?php echo $item->getProduct()->getPickPoint(); ?></td>
                    <td width="36%"><?php echo $item->getName(); ?></td>
                    <td width="4%"><?php echo (int)$item->getQtyOrdered();?></td>
                    <td width="32%"><?php echo $item->getSku(); ?></td>
                    <?php
        $options = $item->getProductOptions();
        $size = '';
        if (isset($options['attributes_info']) && !empty($options['attributes_info'])) {
            foreach ($options['attributes_info'] as $option) {
                if ($option['label'] == 'Size') {
                    $size = $option['value'];
                    break;
                }

            }
        }
                    ?>
                    <td width="4%"><?php echo $size; ?></td>
                    <td width="4%">
                        <img src="<?php echo $moduleReader->getModuleDir(\Magento\Framework\Module\Dir::MODULE_VIEW_DIR, 'Fooman_PdfCore'); ?>images/tickbox-image.png" />
                    </td>
                </tr>

    <?php } ?>
            </table>
        </td>
    </tr>



<?php } ?>

</table>
<hr><hr><hr>

<?php /**/ ?>

<?php /**/ ?>
<?php if ($logoBlockHtml): ?>
    <table width="100%" border="0" cellpadding="2" cellspacing="0">
        <tr>
            <?php if ($block->isLogoOnRight()): ?>
                <td
                    valign="top"
                    width="50%"
                    height="30mm"
                    style="font-weight:bold;
                        font-size:<?php echo $block->getFontsize('large') ?>"><?php echo $block->escapeHtml($block->getTitle()) ?></td>
                <td valign="top">&nbsp;<?php echo $logoBlockHtml ?></td>
            <?php else: ?>
                <td width="50%"
                    valign="top">&nbsp;<?php echo $logoBlockHtml ?></td>
                <td
                    valign="top"
                    height="30mm"
                    style="font-weight:bold;
                        font-size:<?php echo $block->getFontsize('large') ?>"><?php echo $block->escapeHtml($block->getTitle()) ?></td>
            <?php endif; ?>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
    </table>
<?php endif;?>

<?php echo $block->getItemsBlock($ordersStyling); ?>

<?php $customText = $block->getCustomText() ?>
<?php if ($customText) : ?>
    <br/>
    <table width="100%" border="0" cellpadding="2" cellspacing="0">
        <tr>
            <td>
                <?php echo $customText ?>
            </td>
        </tr>
    </table>
<?php endif; ?>
<?php /**/ ?>
