<?php
/**
 * @author     Kristof Ringleff
 * @package    Fooman_PdfCore
 * @copyright  Copyright (c) 2015 Fooman Limited (http://www.fooman.co.nz)
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * @var \Fooman\PdfCore\Block\Pdf\Table $block
 */
?>
<?php $numColumns = sizeof($block->getColumns()); ?>
<?php $lineH = 'line-height: 40%; '; ?>
<?php if ($numColumns): ?>
    <table width="100%" border="0" cellspacing="0" style="<?php echo $block->getTableStyle() ?>">
        <?php if ($numColumns && $block->shouldPrintHeader()): ?>
        <thead>
            <tr nobr="true">
                <?php $i = 1; ?>
                <?php foreach ($block->getColumns() as $column): ?>
                    <?php $isFirst = $i == 1; ?>
                    <?php $isLast = $i == $numColumns; ?>
                    <th style="<?php echo $block->getHeaderStyle($isFirst, $isLast) ?>"
                        align="<?php echo $block->getAlign($isFirst, $isLast) ?>"
                        width="<?php echo $block->getColumnWidthByIndex($column->getIndex()) ?>%"
                        ><strong><?php echo $column->getTitle() ?></strong></th>
                    <?php $i++; ?>
                <?php endforeach; ?>
            </tr>
        </thead>
        <?php endif; ?>
        <?php $collection = $block->getCollection() ?>
        <tbody>
        <?php if ($collection): ?>
            <?php $numItems = sizeof($collection); ?>
            <?php $j = 1; ?>
            <?php foreach ($collection as $item): ?>
                <!-- START ITEM -->
                <?php $hasExtras = $block->hasExtras($item); ?>
                <?php $rowBgColor = $block->getRowBg($item, $j) ?>
                <?php $isFirstItem = $j == 1; ?>
                <?php $isLastItem = $j == $numItems && !$hasExtras; ?>
                <!-- This empty row adds a bit of space in between line items -->
                <!--tr bgcolor="<?php echo $rowBgColor?>">
                    <td style="<?php echo $lineH ?>" colspan="<?php echo $numColumns ?>">&nbsp;</td>
                </tr-->
                <tr nobr="true" bgcolor="<?php echo $rowBgColor?>" class="item">
                    <?php $i = 1; ?>
                    <?php foreach ($block->getColumns() as $column): ?>
                        <?php $isFirst = $i == 1; ?>
                        <?php $isLast = $i == $numColumns; ?>
                        <td style="<?php echo $block->getRowStyle($isFirstItem, false) ?>"
                            align="<?php echo $block->getAlign($isFirst, $isLast) ?>"
                            width="<?php echo $block->getColumnWidthByIndex($column->getIndex()) ?>%"
                        ><?php echo $column->getRowField($item) ?></td>
                        <?php $i++; ?>
                    <?php endforeach; ?>
                </tr>
                <?php if ($hasExtras): ?>
                    <tr nobr="true" bgcolor="<?php echo $rowBgColor?>" class="extra-items">
                        <td style="<?php echo $block->getRowStyle(false, false) ?>"
                            colspan="<?php echo $numColumns ?>"><?php echo $block->getExtras($item) ?></td>
                    </tr>
                <?php endif; ?>
                <!-- This empty row adds a bit of space in between line items -->
                <!--tr bgcolor="<?php echo $rowBgColor?>">
                    <td style="<?php echo $lineH . $block->getRowStyle(false, true) ?>"
                        colspan="<?php echo $numColumns ?>">&nbsp;</td>
                </tr-->
                <?php $j++; ?>
                <!-- END ITEM -->
            <?php endforeach; ?>
        <?php else: ?>
            <tr class="no-collection">
                <td style="<?php echo $block->getRowStyle(true, true) ?>"
                    colspan="<?php echo $numColumns ?>"><?php echo __('No Items') ?></td>
            </tr>
        <?php endif; ?>
        </tbody>
    </table>
<?php endif; ?>
